/*layout mobile version with grid-container*/
.header {
	grid-area: header;
}

.clock {
	grid-area: clock;
	place-self: center;
}

.figure {
	grid-area: figure;
	place-self: center;
}

.aside {
	grid-area: aside;
	place-self: center;
}

.tips{
	grid-area: tips;
	place-self: center;
}

.grid-container{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 15% 45% 25%;
	grid-template-areas: 
	"header"
	"clock"
	"figure"
	"aside"
	"tips";
	grid-gap: 1rem;
}

/*layout tablet version with grid-container*/
@media only screen and (min-width: 768px) {
	.grid-container{
		grid-template-columns: 50% 50%;
		grid-template-rows: 10% 20% 50% 20%; 
		grid-template-areas: 
		"header header"
		"clock clock"
		"figure aside"
		"figure tips";
	}
	#time {
		font-size: 3rem;
	}

/*Style and layout for the animations*/
	#animation {
		position: relative;
		animation: images;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	@keyframes images {
		0%{left: 0px;}
		20%{left: 50px;}
		40%{left: 75px;}
		60%{left: 100px;}
		80%{left: 50px;}
		100%{left: 0px;}
	}
}


/*layout laptop version with grid-container*/
@media only screen and (min-width: 1024px){
	#images {
		max-width: 350px;
	}

	h1{
		font-size: 1.375rem; /*24px*/
	}

	h2{
		font-size: 1.25rem; /*22px*/
	}

	#time {
	font-size: 4rem; /*(30*1/16) = 2rem staat voor 30px*/ 
	}
}

/*layout desktop version with grid-container*/
@media only screen and (min-width: 1280px) and (min-width: 1366px) {
	.grid-container{
		grid-template-columns: 50% 50%;
		grid-template-rows: 10% 50% 10% 30%; 
		grid-template-areas: 
		"header header"
		"clock figure"
		"clock aside"
		"clock tips";
	}

	.aside {
		margin-top: 3rem;
	}
}