/*Fonts imported from google fonts to use cool fonts on the website*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*Global style for the whole page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px; /* 1rem = 16px */
	color: rgb(255, 255, 255);
	height: 100%;
}

/*Style for the background image*/
body{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: rgb(31, 41, 64); /*if the background-image isn't working this color will show*/
}

/*style for the different headings on the website*/
h1, h2 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1 {
	font-size: 1.125rem; /* (18*1/16) = 1.125 staat voor 18px */
	text-transform: uppercase;
	letter-spacing: 0.3rem; /* 8px */
	font-weight: 700;
	margin-top: 0.3rem;  /*(5*1/16) = 0.3125 staat voor 5px*/
	color: rgb(31, 41, 64);
}

h1, #time {
	letter-spacing: 0.3rem; /* 8px */
}

h2 {
	font-size: 1rem;
	font-weight: 600;	
	width: 95vw;
	margin-right: auto;
	margin-left: auto;
}

h3, p {
	font-size: 0.875rem;/*(14*1/16)=0.875 staat voor 14px */
}

/*Style of the time inside the clock div*/
#time {
	font-size: 1.875rem; /*(30*1/16) = 2rem staat voor 30px*/ 
	font-weight: 900;
	font-family: 'Orbitron', sans-serif;
}

/*Style of the image*/
#images{
	width:100%;
	max-width: 250px;
	max-height: auto;
}

/*Style of the text box*/
#text {
	max-width: 90%;
	background-color: rgb(31, 41, 64);
	border: 0.3rem solid rgb(255, 255, 255);
	border-radius: 0.3rem;
}

/*style of the button*/
.button {
	width: 19rem;
	background-color: rgb(255, 20, 147);
	border: 0.3rem solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

.button, #text-tips, #text {
	padding: 0.875rem;
}

/*Style of the text inside the button*/
#text-tips{
	max-width: 19rem;
	text-align: center;
	background-color: rgb(31, 41, 64);
	display: none;
	margin: 1rem 0;
	transition: transform .3s;
}

#text-tips:hover {
	transform: scale(1.3);
}
